// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.txt-h1
{
    font-size: 18px;
    color: black;
}
.txt-c1
{
    font-size: 16px;
    color: black;    
}
.txt-c2
{
    font-size: 16px;
    color: grey;
}
.txt-c2-min
{
    font-size: 15px;
    color: grey;
}
.layout-center
{
    text-align: center;
    width: 100%;
} 
.required-field
{
    color: red;
}
.footerbar
{
    background-color: white;        
}
.menuimg
{
    width: 25px;
    height: 25px;
}
.itemstatusimg
{
    background-color:white;
    width: 30px;
    height: 30px;
}
.assettypeimg
{    
    width: 50px;
    height: 50px;
}
.logoimg
{
    width: 50%;
    height: 50%;
}
.div-form-See
{
    display: none;
}
.div-form-Create
{
    display: inline;
}
.div-item-See
{
    display: inline;
}
.div-item-Create
{
    display: none;
}