page-asset {
    .grey-word
    {
        color: grey;
        size: 10px;
    }
    .required-field
    {
        color: red;
    }
    .h-word
    {
        font-size:25px;
        color: black;
    }
}
