page-maintenancelist {
    .footerbar
    {
        background-color: white;        
    }
    .devicestatusimg
    {
        background-color:white;
    }
    .h-word
    {
        font-size:20px;
        color: black;
    }
}
